<table class='table'>
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
	  <th>follows</th>
	  <th><%= link_to user.followeds.count,followeds_user_path(user) %></th>
  </tr>
  <tr>
	  <th>followers</th>
	  <th><%= link_to user.followers.count,followers_user_path(user) %></th>
  </tr>
</table>

<div class='row'>
<!--ログイン中のuserとフォローするuserが同じではないときにフォローボタンが表示される。-->
  <% if current_user != user %>
    <% if user.followed_by?(current_user) %>
        <%=link_to "フォロー解除", user_relationships_path(user.id), method: :delete,class: "btn btn-block btn-danger" %>
    <% else %>
        <%=link_to "フォローする", user_relationships_path(user.id), method: :post,class: "btn btn-block btn-primary" %>
    <% end %>
  <% end %>
<!--user情報編集機能-->
  <% if current_user == user %>
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do%>
      <i class="fas fa-user-cog"></i>
      <% end %>
  <% end %>
</div>
</br>
<div class='row'>

<!--ログイン中のuserとフォローするuserが互いにフォローしているとき-->
  <% if (current_user!= user) %>
    <%if (user.followed_by?(current_user)) && (current_user.followed_by?(user)) %>
      <div>相互フォロー中です</div>
      <!--chatのshowに飛ばす-->
      <%=link_to "chatを開始する",chat_path(user),class: "btn btn-block btn-primary" %>
    <% end %>
  <% end %>
</div>


