<div class='container'>
  <div class='row'>
    <!--=================user情報を追加_ここから=============================================================================================================================================-->
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info',book: @book,user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book %>
    </div>
    <!--=================user情報を追加_ここまで==============================================================================================================================================-->
    <div class='col-md-8 offset-md-1'>
      <h2>Book detail</h2>
      <table class='table'>
        <tr>
          <td><%= link_to(@bookdetail.user) do %>
            <%= image_tag @bookdetail.user.get_profile_image(100,100) %><br>
            <%= @bookdetail.user.name %>
            <% end %>
          </td>
          <td><%= link_to @bookdetail.title, @bookdetail %></td>
          <td><%= @bookdetail.body %></td>
          <td>
            <div id="favorites_buttons_<%=@bookdetail.id %>">
             <%= render partial: 'favorites/favorite', locals: {bookdetail: @bookdetail} %> <!--いいね機能を追加ここから-->
            </div>
          </td>
          <td>
           コメント数：<%= @bookdetail.book_comments.count %>
          </td>
          <%if @bookdetail.user == current_user %>
          <td><%= link_to 'Edit', edit_book_path(@bookdetail), class: "btn btn-sm btn-success edit_book_#{@bookdetail.id}" %></td>
          <td><%= link_to 'Destroy', @bookdetail, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
    　</table>
     
    </div>
   </div>
  </div>
